.input-container {
  width: 100%;
  display: flex;
  margin: 0px 0px 20px 0px;
}
.input-text {
  width: 100%;
  height: 30px;
  border: none;
}
button {
  width: 200px;
}
.todo-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-radius: 4px;
  margin-top: 5px;
}
.todo-name {
  display: flex;
  align-items: center;
}
.checkbox-item {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.todo-name,
.todo-date {
  padding: 0px 20px 0px 20px;
}
.todo-date {
  color: lightgray;
}
.todo-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  color: white;
  background-color: #00abd3;
  outline: none;
  border: none;
}
/* .add-item-text {
  margin-left: 5px;
} */
